@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #005662;
  --color-primary-hover: #003d46;
  --color-primary-tint: rgba(0, 86, 98, 0.05);
  --color-canvas: #f8f9fa;
  --color-border-custom: #e0e0e0;
  
  --font-sans: 'Open Sans', sans-serif;
  
  --radius-sm: 4px;
  --radius-lg: 8px;
}

body {
  @apply bg-canvas text-slate-900 antialiased font-sans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
